.pad-20 {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.sidemenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 40px;
  transition: .5s;
}

.sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 20px;
  margin-top: 10px;
}